body{
    font-family: $font-family-base ;
    line-height: 19px;
    color: #9e9e9e ;
}
.nav{
    width: 296px;
    min-height: 100vh;
    background-color: #F8F9FA;
}
.contents{
    width: 100%;
}
a:hover{
    text-decoration: none;
}
img{
    display: block;
}
ol, ul {
	list-style: none;
}