<section class="mt-5 mt-md-xl">
  <div class="container like">
    <h2 class="mb-2 mb-md-4 fw-bold">猜你也喜歡...</h2>
    <div class="row">
      <div class="col-lg-11 offset-lg-1 overflow-hidden">
        <div class="d-lg-flex">
          <div class="">
            <div class="mb-md-1 like-mr">
              <img src="./assets/images/link1.jpg" class="image" alt="mustlink-1" />
            </div>
            <h3 class="fs-5 bold mb-1">2020 台味設計展</h3>
            <p class="mb-2 fs-5">$350</p>
          </div>
          <div class="">
            <div class="mb-md-1 like-mr">
              <img src="./assets/images/link2.jpg" class="image" alt="mustlink-2" />
            </div>
            <h3 class="fs-5 bold mb-1">No.22 線上設計展</h3>
            <p class="mb-2 fs-5">$350</p>
          </div>
          <div class="">
            <div class="mb-md-1">
              <img src="./assets/images/link3.jpg" class="image-end" alt="mustlink-3" />
            </div>
            <h3 class="fs-5 bold mb-1">高雄設計節</h3>
            <p class="mb-2 fs-5">$350</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>