.like{
  .image{
    height: 350px;
    width: 350px;
    @include media-breakpoint-down(md) {
      height: 345px;
      width: 345px;
    }
    &-end{
      height: 350px;
      width: 255px;
      @include media-breakpoint-down(md) {
        height: 345px;
        width: 345px;
      }
    }
  }
  
  &-mr{
    margin-right:30px;
  }
}