.navbar {
  margin: 28px 0px;
  .icon{
    height: 24px;
  }
}
.mv {
  position: relative;
  height: 480px;
  background-image: url('../images/ricardo-gomez-angel-UrOZTfXT0h0-unsplash (1).jpg');
  background-size: cover;
  background-position: left;
  display: flex;
  align-items: center;
  &-text{
    color:white;
    font-weight:bold;
  }
  &-btnsize{
    width: 160px;
    height: 44px;
  }
}

.header{
  border-bottom: 1px solid #dee2e6;
  &-list{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    @include media-breakpoint-down(md) {
      justify-content: start;
      overflow:hidden;
    }
  }
  &-li{
    margin-right: 18px;
    margin:14px 18px 14px 0px;
  }
  &-link{
    color: #707070;
    text-decoration: none;
  }
}
.product{
  margin-top:60px;
  margin-bottom:24px;
  @include media-breakpoint-down(md) {
    margin-top:20px;
    margin-bottom:8px;
  }
  &-img{
    height: 350px;
    @include media-breakpoint-down(md) {
      height: 345px;
    }
  }
  .product-detail{
    padding-bottom: 40px;
    @include media-breakpoint-down(md) {
      padding-bottom: 24px;
    }
  }
  .card-body{
    padding-top:24px;
    @include media-breakpoint-down(md) {
      padding-top:11px;
    }
  }
  .card-text{
    font-size:20px;
    // margin-bottom:44px;
  }
  .btn-buy{
    color: #fff;
    background-color: #630834;
  }
  .btn-i{
    border-color: #630834;
  }
  .periodlg{
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    margin-top:40px;
    margin-right:24px;
    font-size:20px;
    @include media-breakpoint-down(md) {
      display:none
    }
  }
  .periodmd{
    &-text{
      font-size:16px;
    }
    @include media-breakpoint-up(lg) {
      display:none
    }
  }
}
.live{
  &-bg{
    background-image: url("../images/people2.png");
    height: 482px;
  }
  &-cover{
    padding: 2.5rem 1.25rem;
    background-color: #190014CC;
    @include media-breakpoint-down(md) {
      width: auto;
    }
  }
  .avatar{
    margin-top:24px;
    @include media-breakpoint-down(md) {
      margin-top:12px;
    }
  }
}
.like{
  .image{
    height: 350px;
    width: 350px;
    @include media-breakpoint-down(md) {
      height: 345px;
      width: 345px;
    }
  }
  &-mr{
    margin-right:30px;
  }
}


.footer{
  .title{
    font-size:24px;
    margin-right:16px;
    @include media-breakpoint-down(md) {
      font-size:22px;
    }
  }
  .copy{
    font-size:16px;
  }
  a{
    text-decoration: none;
    color: #707070;
  }
}