<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg justify-content-around navbar-light bg-white p-0">
      <div></div>
      <a class="navbar-brand" href="#">EXHIBINECTION</a>
      <div>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" aria-current="page" href="#">Sign in</a>
            <a class="nav-link" href="#">Sign up</a>
            <a class="icon nav-link position-relative" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
              <span class="material-icons">
                confirmation_number
              </span>
              <span class="position-absolute top-20 start-100 translate-middle badge rounded-pill bg-danger">3</span>
            </a>
          </div>
        </div>
        <!-- navbar-toggler -->
        <button class="navbar-toggler border-0 position-relative" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="material-icons">
            confirmation_number
          </span>
          <span class="position-absolute top-20 start-100 translate-middle badge rounded-pill bg-danger">3</span>
        </button>
    </div>
    </nav>
    <%- contents %>
    <%- include('./components/alsoLike.ejs') %>
    <section class="subscribe h-400x bg-center-cover mt-5  mt-md-xl" style="background-image: url('./assets/images/subscribe.jpg');">
      <div class="container h-100">
        <div class="row h-100 flex-column justify-content-end">
          <div class="col-md-5 text-white mb-5 mb-md-3">
            <p class="fs-3 fs-md-2 mb-md-3 lh-base">想收到展覽的最新消息嗎？<br />快訂閱我們！</p>
          </div>
          <div class="col-md-4">
            <div class="input-group">
              <input type="text" class="form-control py-3" placeholder="輸入您的電子信箱" aria-label="subscription-email">
              <div class="col-4">
                <button type="button" class="btn btn-danger py-3 w-100">訂閱</button>
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>
    <footer class="footer">
      <div class="container py-4">
        <div
          class="d-flex flex-column flex-md-row justify-content-md-between"
        >
          <div class="d-md-flex align-items-md-center">
            <p class="title mb-0 bold">
              EXHIBINECTION
            </p>
            <p class="copy mb-0 font-roboto">
              © 2020. All Rights Reserved.
            </p>
          </div>
          <div class="d-none d-md-block">
            <ul class="nav align-items-center h-100 my-auto">
              <li class="me-4">
                <a class="" href="#">Sign in</a>
              </li>
              <li class="">
                <a class="nav-link p-0" href="#">Sign up</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>